.container {
    font-family: 'Oswald', sans-serif;
    width: 90%;
    max-width: 2024px;
    min-height: 100%;
    margin: auto;
}
.container .h-title {
    height: 50px;
    border-bottom: 2px solid #00E0FF;
    margin-bottom: 50px;
}
.container .h-title h2 {
    margin-top: 5%;
    font-size: 26px;
    text-transform: uppercase;
}
.container .h {
    width:100;
    min-height: 100px;
    margin-bottom: 100px;
}
.container p {
    font-size: 18px;
    text-align: justify;
}


/* Name */
.container .h-name {
    width: 100%;
    margin-top: 5%;
    margin-bottom: 100px;
}
.container .h-name h1 {
    font-size: 48px;
    text-transform: uppercase;
    color: #232323;
}
.container .h-name h2 {
    font-size: 32px;
    text-transform: uppercase;
    color: #00E0FF;
}

/* Experiência */
.container .h-experiencia .h-itens {
    min-height: 100px;
}
.container .h-experiencia .h-itens .item {
    display: flex;
    flex-direction: row;
    width: 100%;
    min-height: 220px;
}
.container .h-experiencia .h-itens .item .work {
    min-width: 25%;
}
.container .h-experiencia .h-itens .item .work h2 {
    font-size: 22px;
    margin-bottom: 10px;
}
.container .h-experiencia .h-itens .item .description {
    width: 75%;
    min-height: 100px;
}
.container .h-experiencia .h-itens .item .description h2 {
    font-size: 22px;
    margin-bottom: 10px;
    color: #00E0FF;
}
.container .h-experiencia .h-itens .item .description p {
    font-size: 18px;
    text-align: justify;
}

/* Educação */
.container .h-educacao .item {
    width: 100%;
    min-height: 220px;
}
.container .h-educacao .item .title {
    margin-bottom: 10px;
}
.container .h-educacao .item .title h2 {
    font-size: 22px;
    text-transform: uppercase;
    color: #232323;
}
.container .h-educacao .item .title span {
    font-size: 22px;
    text-transform: uppercase;
    color: #00E0FF;
}

/* Habilidades */
.container .h-habilidades .item {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 50%;
    margin-bottom: 20px;
}
.container .h-habilidades .item .title {
    min-width: 150px;
}
.container .h-habilidades .item h2 {
    font-size: 18px;
}
.container .h-habilidades .item .icon {
    position: relative;
    width: 200px;
    height: 18px;
    overflow: hidden;
    border: 1px solid #e7e7e7;
    border-radius: 6px;
    background: transparent;
}

/* Percentuais */
.container .h-habilidades .item .icon #percentual-10 {
    height: 100%;
    width: 110px;
    background-color: #00E0FF;
}
.container .h-habilidades .item .icon #percentual-50 {
    height: 100%;
    width: 150px;
    background-color: #00E0FF;
}
.container .h-habilidades .item .icon #percentual-80 {
    height: 100%;
    width: 180px;
    background-color: #00E0FF; 
}
.container .h-habilidades .item .icon #percentual-100 {
    height: 100%;
    width: 200px;
    background-color: #00E0FF;
}

/* Contato */
.container .h-contato {
    min-height: 200px;
    margin-bottom: 50px;
}
.container .h-contato .item {
    width: 100%;
    min-height: 80px;
}
.container .h-contato .item h2 {
    font-size: 18px;
    text-transform: uppercase;
}
.container .h-contato .item p {
    color: #00E0FF;
}

footer {
    width: 100%;
    height: 50px;
    background-color: #00E0FF;
}