.container {
    font-family: 'Oswald', sans-serif;
    width: 90%;
    max-width: 2024px;
    min-height: 100%;
    margin: auto;
}
.h-title {
    height: 50px;
    border-bottom: 2px solid #00E0FF;
    margin-bottom: 50px;
}
.h-title h2 {
    margin-top: 5%;
    font-size: 26px;
    text-transform: uppercase;
}

/* Name */
.h-name {
    width: 100%;
    margin-top: 5%;
    margin-bottom: 100px;
}
.h-name h1 {
    font-size: 48px;
    text-transform: uppercase;
    color: #232323;
}
.h-name h2 {
    font-size: 32px;
    text-transform: uppercase;
    color: #00E0FF;
}

/* Sobre */
.h-sobre {
    width: 100%;
    min-height: 100px;
    margin-bottom: 100px;
}
.h-sobre .paragraf {
    text-align: justify;
    font-size: 18px;
}

/* Experiência */
.h-itens {
    min-height: 100px;
}
.h-itens .item {
    display: flex;
    flex-direction: row;
    width: 100%;
    min-height: 220px;
}
.work {
    min-width: 25%;
}
.work h2 {
    font-size: 22px;
    margin-bottom: 10px;
    text-transform: uppercase;
}
.work p {
    font-size: 22px;
    text-transform: uppercase;
}
.description {
    width: 75%;
    min-height: 100px;
}
.description h2 {
    font-size: 22px;
    margin-bottom: 10px;
    text-transform: uppercase;
    color: #00E0FF;
}
.description p {
    font-size: 18px;
    text-align: justify;
}

/* Educação */
.h-educacao {
    min-height: 100px;
}
.h-title-educacao {
    height: 50px;
    border-bottom: 2px solid #00E0FF;
    margin-bottom: 50px;
}
.h-title-educacao h2 {
    margin-top: 5%;
    font-size: 26px;
    text-transform: uppercase;
}
.h-educacao .item {
    width: 100%;
    min-height: 220px;
}
.h-educacao .item .title {
    margin-bottom: 10px;
}
.h-educacao .item .title h2 {
    font-size: 22px;
    text-transform: uppercase;
    color: #232323;
}
.h-educacao .item .title span {
    font-size: 22px;
    text-transform: uppercase;
    color: #00E0FF;
}
.h-educacao .item p {
    text-align: justify;
    font-size: 18px;
}

/* Habilidades */
.h-habilidades {
    min-height: 100px;
    margin-bottom: 100px;
}
.h-title-habilidades {
    height: 50px;
    border-bottom: 2px solid #00E0FF;
    margin-bottom: 50px;
}
.h-habilidades .item {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 50%;
    margin-bottom: 20px;
}
.h-habilidades .item .title {
    min-width: 150px;
}
.h-habilidades .item h2 {
    font-size: 18px;
}
.h-habilidades .item .icon {
    position: relative;
    width: 200px;
    height: 18px;
    overflow: hidden;
    border: 1px solid #e7e7e7;
    border-radius: 6px;
    background: transparent;
}

/* Percentuais */
.h-habilidades .item .icon .percentual-10 {
    width: 110px;
    height: 100%;
    border-radius: 6px;
    background-color: #00E0FF;   
}
.container .h-habilidades .item .icon .percentual-50 {
    width: 150px;
    height: 100%;
    border-radius: 6px;
    background-color: #00E0FF;   
}
.container .h-habilidades .item .icon .percentual-80 {
    width: 180px;
    height: 100%;
    border-radius: 6px;
    background-color: #00E0FF;   
}
.container .h-habilidades .item .icon .percentual-100 {
    width: 200px;
    height: 100%;
    border-radius: 6px;
    background-color: #00E0FF;   
}

/* Contato */
.h-contato {
    min-height: 200px;
    margin-bottom: 50px;
}
.h-contato .item {
    width: 100%;
    min-height: 80px;
}
.h-contato .item h2 {
    font-size: 18px;
    text-transform: uppercase;
}
.h-contato .item p {
    font-size: 18px;
    color: #00E0FF;
}
footer {
    width: 100%;
    height: 50px;
    background-color: #00E0FF;
}